<div class="bg-secondary" align="center" style="color: #000000; font-size: 150%; font-family: Arial; font-weight: bold">
    Login
</div>
<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col-md-10" *ngIf="alertErrorFlag">
            <div class="alert alert-danger" role="alert">
                {{ alertErrorMsg }}
            </div>
        </div>
        <div class="col-md-10">
            <form novalidate autocomplete="off" (ngSubmit)="login()" [formGroup]="form">
                <div class="mb-3">
                    <label class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" [class.is-invalid]="isUsernameValid" formControlName="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" [class.is-invalid]="isPasswordValid" formControlName="password">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div>