<div class="bg-secondary" align="center" style="color: #000000; font-size: 150%; font-family: Arial; font-weight: bold">
    Página Principal
</div>
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Visitantes</h4>
                    <a class="btn btn-primary" routerLink="/visitantes" role="button">Visitantes</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Guías</h4>
                    <a class="btn btn-secondary" routerLink="/guias" role="button">Guías</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <img src="assets/El ocotal.jpg" class="img-fluid w-100" alt="salv">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h1 class="text-center">El Ocotal</h1>
            <p>El tamaño de la CDMX ocasiona que a veces sus habitantes se olviden de lo cerca que la naturaleza está de la urbe. Sin embargo, la megalópoli está rodeada de varios parques naturales que nos recuerdan una época en la que la Cuenca de México
                estaba cubierta por bosques. Un ejemplo de esto se ubica a sólo 130 km de la Ciudad de México en el el Parque Estatal “El Ocotal”, uno de los secretos mejor conservados del Estado de México. Esta área forestal se extiende 122 hectáreas
                y aparte de árboles, cuenta con un zoológico, un lago, área de acampar y un hotel campestre.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="text-center">Horarios</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Actividad</th>

                            <th scope="col">Guia</th>
                            <th scope="col">Lues</th>
                            <th scope="col">Martes</th>
                            <th scope="col">Miercoes</th>
                            <th scope="col">Jueves</th>
                            <th scope="col">Viernes</th>
                            <th scope="col">Sabado</th>
                            <th scope="col">Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Senderismo.</th>
                            <td>Luis</td>
                            <td>9:00am &lt; 10am</td>
                            <td>9:00am &lt; 10am</td>
                            <td>9:00am &lt; 10am</td>
                            <td>9:00am &lt; 10am</td>
                            <td>9:00am &lt; 10am</td>
                            <td>9:00am &lt; 10am</td>
                            <td>9:00am &lt; 10am</td>

                        </tr>
                        <tr>
                            <th scope="row">Senderismo y cabalgata.</th>
                            <td>Ivan</td>
                            <td>10:00am &gt;11:30am </td>
                            <td>10:00am &gt;11:30am </td>
                            <td>10:00am &gt;11:30am </td>
                            <td>10:00am &gt;11:30am </td>
                            <td>10:00am &gt;11:30am </td>
                            <td>10:00am &gt;11:30am </td>
                            <td>10:00am &gt;11:30am </td>
                        </tr>
                        <tr>
                            <th scope="row">Paseo por el lago.</th>
                            <td>Oscar</td>
                            <td>2:00pm &gt;3:30pm </td>
                            <td>2:00pm &gt;3:30pm </td>
                            <td>2:00pm &gt;3:30pm </td>
                            <td>2:00pm &gt;3:30pm </td>
                            <td>2:00pm &gt;3:30pm </td>
                            <td>2:00pm &gt;3:30pm </td>
                            <td>No hay Actividad. </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <img src="assets/ocotal2.jpg" class="img-fluid w-100" alt="salv">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="text-center">¿Qué debo utilizar?</h3>
            <p>El calzado es fundamental ya que nuestros pies son muy importantes y podrían terminar lesionados si no los cuidamos bien, ya que atravesaremos terrenos irregulares. Se recomienda llevar botas de montaña, que sujeten el tobillo, con suela antideslizante
                y dibujo profundo en la suela. Asegúrate de adaptarlos a tu pie con pequeños paseos en ciudad antes de ponerte en ruta. Los calcetines deberán estar ceñidos al pie, ser de fibra sintética y no tener costuras. Untar los pies en vaselina
                antes de meterlos en los calcetines puede ayudar a evitar ampollas y rozaduras. Los bastones de trekking, de aluminio y con empuñadura anatómica, son de gran utilidad para hacer frente las dificultades que se presenten en el camino, especialmente
                en bajadas y subidas pronunciadas. Una mochila cómoda que permita llevar todo lo que necesitamos sin acumular mucho peso. Para rutas de menos de ocho horas, 30/45 litros está bien. Se recomienda que tenga los hombros acolchados y se ate
                al pecho o la cintura. La funda impermeable para la mochila resulta muy útil para que no se moje lo que llevemos dentro en caso de sorprendernos una tormenta.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <h3 class="text-center">Ubicación</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29917.006180524757!2d-98.1115001219918!3d20.398314125954293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d09309da80146f%3A0xf9fbc850a13f9085!2s43426%20El%20Ocotal%2C%20Hgo.!5e0!3m2!1ses!2smx!4v1629947205616!5m2!1ses!2smx"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>